services:
  web:
    build: .
    volumes:
      - ./:/app
    container_name: fastapi_app
    expose:
      - 8000

    networks:
      - appnet

  nginx:
    image: nginx:stable
    container_name: nginx_proxy
    ports:
      - "127.0.0.2:80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    networks:
      - appnet

networks:
  appnet:
