services:
  app:
    build: .
    volumes:
      - ./app.py:/app/app.py
      - ./logs:/app/logs
      - ./images:/app/images
    container_name: server_images_backend
    expose:
      - 8000
    networks:
      - app-net

  nginx:
    image: nginx:stable
    container_name: server_images_frontend
    ports:
    - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./index.html:/var/www/public/index.html:ro
      - ./static:/var/www/public/static
      - ./logs:/var/www/logs
      - ./images:/var/www/public/images
    depends_on:
      - app
    networks:
      app-net:
networks:
  app-net:
