body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f5ff;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

p {
    font-size: 12px;
    color: #777;
    margin: 0 0 20px;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee; /* легкая линия под вкладками */
}

.tabs a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 16px;
    padding: 8px 0;
    transition: color 0.3s;
}

.tabs a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #1473ff;
    transition: width 0.3s;
}

.tabs a:hover {
    color: #1473ff;
}

.tabs a.active {
    color: #1473ff;
}

.tabs a.active::after {
    width: 100%;
}
.upload-box {
    border: 2px dashed #a3bffa;
    border-radius: 10px;
    background-color: #eef3ff;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.upload-box.dragover {
    background-color: #dbe9ff;
}

.upload-box p {
    font-size: 14px;
    margin-top: 10px;
}

.upload-box small {
    color: #a0aec0;
    font-size: 12px;
    margin-top: 4px;
}

.btn-upload {
    background-color: #0a60ff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 30px;
}

.current-upload {
    display: none;
    /* Скрыто по умолчанию */
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 10px;
}

.current-upload label {
    font-weight: bold;
    font-size: 14px;
}

.input-group {
    display: flex;
    width: 100%;
}

.input-group input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

.input-group button {
    background-color: #0a60ff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

#uploaded-images {
    max-width: 600px;
    /* можно подстроить под контейнер */
    font-family: Arial, sans-serif;
}

#uploaded-images label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.preview {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.preview input[type="text"] {
    flex: 1;
    /* занимает всё доступное место */
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: all;
    background-color: #f9f9f9;
}

button {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    transition: background-color 0.2s;
}

button.remove {
    border: 1px solid #ff0062;
    background-color: #e70606;
}

button.remove:hover {
    background-color: #8a0000;
}

.action button {
    width: 100%;
}

.preview button:hover {
    background-color: #0056b3;
}

.preview img {
    width: 80px;
    /* ширина превью */
    height: 60px;
    /* высота превью */
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
    font-family: sans-serif;
}

.page-link {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-decoration: none;
    color: #333;
    transition: background 0.2s;
}

.page-link:hover {
    background: #f2f2f2;
}

.page-current {
    align-self: center;
    font-weight: bold;
}

.file-list {
    width: 80%;
    border-collapse: collapse;
}

.file-list th,
.file-list td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.file-list tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.file-list tbody tr:nth-child(odd) {
    background-color: #fff;
}

.file-list tbody tr:hover {
    background-color: #e6f2ff;
}

.file-list th.sorted-ASC .sort-icon::after {
    content: "▲";
}

.file-list th.sorted-DESC .sort-icon::after {
    content: "▼";
}

.file-list th[class*=sorted] a {
    text-decoration: none;
    color: blue; 
}