<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Upload Photos</title>
    <link rel="stylesheet" href="/static/css.min.css">
    <link rel="icon" href="data:,">
</head>

<body>

<h1>Upload Photos</h1>
<p>Upload selfies, memes, or any fun pictures here.</p>

<div class="tabs">
    <a href="/">Upload</a>
    <a class="active" href="/images-list/">Images</a>
</div>

<div id="uploaded-images">

</div>

<h2>Список файлов</h2>
<table class="file-list">
    <thead>
    <tr>
        <th>Имя файла</th>
        <th>Оригинальное имя</th>
        <th>Размер (КБ)</th>
        {% set new_order = 'ASC' if order == 'DESC' else 'DESC' %}
        <th class="sorted-{{ order }}">
            <a href="/images-list/?page={{ page }}&order={{ new_order }}"><span class="sort-icon"></span></a> Дата
            загрузки
        </th>
        <th>Тип файла</th>
        <th></th>
    </tr>
    </thead>
    {% if files %}
    {% for file in files %}
    <tr>
        <td class="preview">
            <a href="/images/{{ file.filename }}">
                <img src="/images/{{ file.filename }}" alt="Просморт">
            </a>
            {{ file.filename }}
        </td>
        <td>{{ file.original_name }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.upload_time }}</td>
        <td>{{ file.file_type }}</td>
        <td class="action">
            <button onclick="location.href='/delete/{{ file.id }}'" class="remove">Удалить</button>
            <a href="/images/{{ file.filename }}" download="{{ file.filename }}">
                <button>Скачать</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6" style="text-align:center">Нет загруженных изображений</td>
    </tr>
    {% endif %}

</table>

<div class="pagination">
    {% if page > 1 %}
    <a href="/images-list/?page={{ page - 1 }}&order={{ order }}" class="page-link">« Предыдущая страница</a>
    {% endif %}

    <span class="page-current">Стр. {{ page }} / {{ total_pages }}</span>

    {% if page < total_pages %}
    <a href="/images-list/?page={{ page + 1 }}&order={{ order }}" class="page-link">Следующая страница »</a>
    {% endif %}
</div>


</body>

</html>